@model DisCourse.Models.Course

@{
    ViewData["Title"] = "Thêm khóa học";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Reference the shared layout

}

<h2>Thêm khóa học</h2>
<form asp-area="Teacher" asp-controller="Course" asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Name">Tên khóa học</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Mô tả</label>
        <textarea asp-for="Description" class="form-control" rows="3" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Ảnh đại diện khóa học</label>
        <input type="file" name="ThumbnailFile" class="form-control-file" />
    </div>

    <button type="submit" class="btn btn-primary">Lưu khóa học</button>
    <a asp-area="Teacher" asp-controller="Course" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
